[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --latest 200 --threads 12 --protocol https --protocol http --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
