[Unit]
Description=Simple Animelist Backup Service
StartLimitIntervalSec=5

[Service]
WorkingDirectory=/home/marucs/anime-backup
ExecStart=/home/marucs/anime-backup/syncedBackup.sh
RemainAfterExit=true
StartLimitBurst=10
RestartSec=30
Restart=on-failure
ExecStop=/home/marucs/anime-backup/syncedBackup.sh
Type=oneshot
User=marucs
Group=marucs

[Install]
WantedBy=default.target